.inlineblock{
	display: inline-block;
}

.wrapper{
	border:1px solid #000000;
	position: relative;
	z-index: 1;
	width: 500px;
	height: 400px;
}

.msg{
	margin: 0px 30px;
	vertical-align:top;
}

.canvas {
	position: absolute;
	z-index: 100;	
	top: 0px;
	overflow: visible;
}

.doc-embed{
	position: absolute;
	z-index: 1;	
	top: 0px;
	width: 100%;
	height: 100%;	
}

.doc-embed body{
	padding:0; margin:0;
}